Django>=4.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn
psycopg2-binary
dj-database-url
python-decouple
whitenoise>=6.0.0,<7.0.0
Pillow>=10.0.0
supabase==2.27.3
supabase-auth==2.27.3
supabase-functions==2.27.3
boto3==1.42.42
